<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Service Requests - Fixora</title>

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<header>
<div class="logo">
<span style="font-family:'Lucida Handwriting', cursive; font-size:40px;">F</span>
<span style="font-size:28px;">ixora</span>
</div>
</header>

<section class="requests-section">

<h1>Service Requests</h1>

<div class="requests-grid">

{% for r in requests %}

<div class="request-box">

    <p><b>Name:</b> {{ r.name }}</p>
    <p><b>Phone:</b> {{ r.phone }}</p>
    <p><b>Message:</b> {{ r.message }}</p>

    <p>
        <b>Status:</b> 
        <span class="status {{ r.status }}">
            {{ r.status }}
        </span>
    </p>

    <p><b>Date:</b> {{ r.created_at }}</p>

    <div class="request-actions">
        <a href="{% url 'accept_request' r.id %}" class="btn-accept">Accept</a>
        <a href="{% url 'reject_request' r.id %}" class="btn-reject">Reject</a>
    </div>

</div>

{% empty %}

<p>No requests yet</p>

{% endfor %}

</div>

</section>

</body>
</html>